@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/***
    The new CSS reset - version 1.6.0 (last updated 29.4.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #11151C;
}
header .header__div {
  background-color: #11151C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header .header__div img {
  width: 35%;
}

nav li {
  display: inline-block;
}
nav a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #FBFBFB;
}
nav a:hover {
  color: #716969;
}

.main__slider {
  width: 800px;
  margin: 30px auto;
  position: relative;
  display: flex;
  align-items: center;
}

.main__slider--viewport {
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.main__slider--content {
  display: grid;
  grid-auto-flow: column;
  transition: 1s all;
}
.main__slider--content img {
  width: 800px;
  height: 400px;
}
.main__slider--content img .mySlides {
  display: none;
}

.main__slider--btnround {
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}
.main__slider--btnround a {
  box-shadow: 5px 5px 5px 0px rgba(17, 21, 28, 0.5);
  display: inline-block;
  background-color: #FBFBFB;
  width: 15px;
  height: 15px;
  margin: 0 3px;
  border-radius: 50%;
  border: 0.2px solid #11151C;
}
.main__slider--btnround a:hover {
  background-color: #11151C;
  box-shadow: 0px 0px 5px 0px rgaba(#212D40, 0.8);
}

.main__slider--pointer {
  margin: 10px;
}
.main__slider--pointer .main__slider--left, .main__slider--pointer .main__slider--right {
  cursor: pointer;
  display: inline-block;
  color: #11151C;
  font-size: 30px;
}

#img2:target .main__slider--content {
  transform: translateX(-800px);
}

#img3:target .main__slider--content {
  transform: translateX(-1600px);
}

#img4:target .main__slider--content {
  transform: translateX(-2400px);
}
/*# sourceMappingURL=style.css.map */