@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/***
    The new CSS reset - version 1.6.0 (last updated 29.4.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #11151c;
}
header .header__div {
  background-color: #11151c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header .header__div img {
  width: 35%;
}

nav li {
  display: inline-block;
}
nav a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fbfbfb;
}
nav a:hover {
  color: #716969;
}

footer {
  background-color: #11151c;
  color: #fbfbfb;
  padding-top: 3rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #fbfbfb;
  padding: 3rem;
}

.footer__logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logoContainer .footer__logo {
  width: 400px;
  fill: #fbfbfb;
}

.footer__links {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.footer__link, .footer__link-light {
  margin: 0 2rem;
  text-decoration: underline;
}
.footer__link:hover, .footer__link-light:hover {
  color: #fbfbfb;
}
.footer__link-light {
  color: #c8c8c8;
}

.footer__social {
  border-top: 2px solid #716969;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social p {
  color: #c8c8c8;
}

.footer__icons {
  font-size: 1.5rem;
}
.footer__icons .footer__icon {
  margin: 0 0.3rem;
}

.footer__contact {
  display: flex;
}
.footer__contact .footer__link, .footer__contact .footer__link-light {
  margin: 0;
}
.footer__contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer__contact a span {
  text-decoration: underline;
}
.footer__contact a:first-child {
  margin-right: 1rem;
}
.footer__contact i {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

#contact {
  background-color: #11151c;
  color: #fbfbfb;
  padding-top: 3rem;
}

.map__container {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.map__container iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
}
.map__container .container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form__container {
  width: 45%;
  background-color: #212d40;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  z-index: 2;
  border-radius: 25px;
}
.form__container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form__container .form__description {
  width: 80%;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
.form__container .form__description:last-child {
  display: inline-block;
}
.form__container form {
  display: grid;
  grid-template-areas: "nom prenom" "email email" "message message" "obligatoire ." "submit .";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.form__container form #nom {
  grid-area: nom;
}
.form__container form #prenom {
  grid-area: prenom;
}
.form__container form #email {
  grid-area: email;
}
.form__container form #message {
  grid-area: message;
  height: 10rem;
}
.form__container form p {
  grid-area: obligatoire;
}
.form__container form .form__button {
  grid-area: submit;
  background-color: #716969;
  border: 3px solid #716969;
  text-align: center;
}
.form__container form .form__button:hover {
  cursor: pointer;
  background-color: #2d2e2e;
}
.form__container form input,
.form__container form textarea {
  background-color: #fbfbfb;
  padding: 0.6rem 0.6rem;
}
.form__container form input::-moz-placeholder, .form__container form textarea::-moz-placeholder {
  color: #2d2e2e;
}
.form__container form input:-ms-input-placeholder, .form__container form textarea:-ms-input-placeholder {
  color: #2d2e2e;
}
.form__container form input::placeholder,
.form__container form textarea::placeholder {
  color: #2d2e2e;
}

.button {
  color: #fbfbfb;
  grid-area: submit;
  background-color: #2d2e2e;
  border: 3px solid #2d2e2e;
  text-align: center;
  padding: 0.6rem 3.2rem;
  border-radius: 25px;
}
.button:hover {
  cursor: pointer;
  background-color: #2d2e2e;
}

.container--ligne {
  border-bottom: 2px solid #716969;
  padding-bottom: 2rem;
}

.section__textinput .section__textinput--p {
  margin: 40px auto;
  width: 500px;
  text-align: center;
}
.section__textinput .section__textinput--input {
  text-align: center;
}
.section__textinput .section__textinput--input input {
  border: 1px solid #11151c;
  padding: 0.6rem 3.2rem;
  margin-right: 25px;
  margin-bottom: 40px;
}

.section__signature {
  background-color: #716969;
}
.section__signature .section__signature--grise {
  display: flex;
  align-items: center;
  place-content: center;
}
.section__signature .section__signature--img {
  width: 20%;
  margin-right: 35px;
}

.section__grosTexte {
  text-align: center;
}
.section__grosTexte h1 {
  font-size: x-large;
  margin: 40px;
  text-align: center;
}
.section__grosTexte p {
  text-align: center;
  margin: 15px auto;
  width: 600px;
}

.section__flexbox {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: flex-start;
}
.section__flexbox .section__flexbox--box {
  text-align: center;
  margin: 40px;
}
.section__flexbox .section__flexbox--box img {
  width: 180px;
}
.section__flexbox .section__flexbox--box h2 {
  margin: 15px;
}
.section__flexbox .section__flexbox--box p {
  margin: 15px;
}