@use './variables';

#contact {
  background-color: variables.$color1;
  color: variables.$color5;
  padding-top: 3rem;
}

.map__container {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.form__container {
  width: 45%;
  background-color: variables.$color2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  z-index: 2;
  border-radius: 25px;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .form__description {
    width: 80%;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    &:last-child {
      display: inline-block;
    }
  }

  form {
    display: grid;
    grid-template-areas:
      'nom prenom'
      'email email'
      'message message'
      'obligatoire .'
      'submit .';
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    #nom {
      grid-area: nom;
    }
    #prenom {
      grid-area: prenom;
    }
    #email {
      grid-area: email;
    }
    #message {
      grid-area: message;
      height: 10rem;
    }
    p {
      grid-area: obligatoire;
    }
    .form__button {
      grid-area: submit;
      background-color: variables.$color4;
      border: 3px solid variables.$color4;
      text-align: center;
      &:hover {
        cursor: pointer;
        background-color: variables.$color3;
      }
    }
    input,
    textarea {
      background-color: variables.$color5;
      padding: 0.6rem 0.6rem;
      &::placeholder {
        color: variables.$color3;
      }
    }
  }
}
