@use './variables';
@use './mixins';

footer {
  background-color: variables.$color1;
  color: variables.$color5;
  padding-top: 3rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid variables.$color5;
  padding: 3rem;
}

.footer__logoContainer {
  width: 100%;

  @include mixins.center-item;
  .footer__logo {
    width: 400px;
    fill: variables.$color5;
  }
}

.footer__links {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.footer__link {
  margin: 0 2rem;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: variables.$color5;
  }
  &-light {
    @extend .footer__link;
    color: darken(variables.$color5, 20%);
  }
}

.footer__social {
  border-top: 2px solid variables.$color4;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: darken(variables.$color5, 20%);
  }
}

.footer__icons {
  font-size: 1.5rem;
  .footer__icon {
    margin: 0 0.3rem;
    &:hover,
    &:focus {
      color: variables.$color4;
    }
  }
}

.footer__contact {
  display: flex;

  .footer__link {
    margin: 0;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover,
    &:focus {
      color: variables.$color4;
    }
    span {
      text-decoration: underline;
    }
    &:first-child {
      margin-right: 1rem;
    }
  }
  i {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }
}

@include mixins.respond-to('desktop') {
  .footer__social {
    flex-direction: column;

    p,
    .footer__icons,
    .footer__contact {
      margin-bottom: 1rem;
    }
  }
}

@include mixins.respond-to('tablet') {
  .footer__container {
    align-items: center;
  }
  .footer__links {
    flex-wrap: wrap;
    justify-content: space-between;
    .footer__link {
      flex-basis: 50%;
      margin: 0.5rem 0;
      text-align: center;
    }
  }
}

@include mixins.respond-to('mobile') {
  .footer__logoContainer {
    width: 80%;
  }
  .footer__social {
    text-align: center;

    .footer__contact {
      flex-direction: column;
      align-items: center;
      .footer__link {
        margin: 0.5rem 0;
      }
    }
  }
}
