@use 'general';
@use 'variables';
@use 'button.scss';
@use 'mixins.scss';

.button {
  @extend %button;
}

.container--ligne {
  border-top: 2px solid variables.$color4;
  padding-top: 2rem;
}

.section__textinput {
  .section__textinput--p {
    margin: 40px auto;
    width: 500px;
    text-align: center;
  }
  .section__textinput--input {
    text-align: center;

    input {
      border: 1px solid variables.$color1;
      padding: 0.6rem 3.2rem;
      margin-right: 25px;
      margin-bottom: 40px;
    }
  }
}

.section__signature {
  background-color: variables.$color2;
  padding: 1rem;

  .section__signature--grise {
    display: flex;
    align-items: center;
    place-content: center;
  }

  .section__signature--img {
    width: 50%;
    margin-right: 35px;
  }
}

.section__grosTexte {
  text-align: center;
  h1 {
    font-size: x-large;
    margin: 40px;
    text-align: center;
  }
  p {
    text-align: center;
    margin: 15px auto;
    max-width: 600px;
  }
}

.section__flexbox {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: flex-start;

  .section__flexbox--box {
    text-align: center;
    margin: 40px;

    img {
      width: 180px;
    }

    h2 {
      margin: 15px;
    }

    p {
      margin: 15px;
    }
  }
}

@include mixins.respond-to('desktop') {
}

@include mixins.respond-to('tablet') {
  .section__textinput--input {
    display: flex;
    flex-direction: column;
    align-items: center;

    #textinput {
      width: fit-content;
      margin: 1rem 0;
    }

    .button {
      width: fit-content;
      margin-bottom: 2rem;
    }
  }

  .section__signature--img {
    max-width: 85%;
    margin-left: 1em;
  }
  .section__flexbox {
    .section__flexbox--box {
      margin: 25px;
    }
  }
}

@include mixins.respond-to('mobile') {
  .section__textinput {
    &--p {
      width: 80% !important;
    }
  }
  .button {
    margin: 0.5em;
  }
  .section__textinput .section__textinput--input input {
    margin-bottom: 20px;
  }
  .section__flexbox {
    display: inline-block;
  }
}
