@use 'variables';

header {
    background-color: variables.$color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: -8%;
    width: 35%;
}