@use 'variables';

header {
    background-color: variables.$color1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 35%;
    }
}

nav {
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: variables.$color5;
    }
    a:hover {
        color: variables.$color4;
    }
}